<div>
    
    <!--<app-image-controller (setNewPictureSize)="updatePictureSize($event)"></app-image-controller>-->
    <app-image-controller [(size)]="pictureSize"></app-image-controller>
    <img [src]="picture()" width="{{pictureSize()}}" height="{{pictureSize()}}"><br>
    {{id()}} - {{firstName()}} 

    <br>
    <button (click)="switchShowDetails()">{{showDetails()?'Hide Details' : 'Show Details'}}</button>
    <a [routerLink]="['/contact', 'edit', id()]">Edit</a>
    @if (showDetails()){
        @if (phone()) {
            <a [href]="phoneLink()">{{phone()}}</a> -
        }@else{
            No phone number
        }
        @if (email()){
            <a href="{{emailLink()}}">{{email()}}</a>
        }@else{
            No email address
        }
        @defer (on interaction){
            <app-notes></app-notes>
        } @placeholder {
            <p>Click here to see notes</p>
        } @loading (minimum 2s) {
            <p>Loading Notes...</p>
        }
    }
    

</div>
