/*.alert {
    background-color: lightcoral;
    color: red;
    padding: 1rem;
    margin-bottom: 1rem;
}
*/
/*
.ng-invalid {
    border-left: 5px solid red;
}

.ng-valid {
    border-left: 5px solid green;
}
*/
/*
input.ng-invalid {
    border-left: 5px solid red;
}

input.ng-valid {
    border-left: 5px solid green;
}
*/